<header class="bg-primary text-white py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-0">Project Management System</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/layout']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/tabledata']">User Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/createProject']">Create Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" (click)="logout()">LogOut</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<app-dashboard></app-dashboard>
